<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.react.pojo.MessagesMapper" >

    <!-- 插入一条图片信息数据 -->
  <insert id="addMessage" parameterType="com.react.entity.Messages" >
      insert into
        messages
      values
        (null,#{pushUserId},#{pullUserId},#{timestamp},#{message})
  </insert>

    <select id="selectAlladdMessageByIds" resultType="com.react.entity.Messages">
        select
          *
        from
          messages
        WHERE
            (pushUserId=#{pushUserId} AND pullUserId=#{pullUserId})
          OR
            (pushUserId=#{pullUserId} AND pullUserId=#{pushUserId});
    </select>

</mapper>